#content {
  margin: 0 auto;
  width: 900px;
}

#banner {
    display: block;
    background-color: #ed93ba;
    width: 800px;
    margin: 90px auto;
    padding: 50px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif ;
    border: 1px solid #fff;
    text-decoration: none;
    border-radius: 90px;
}

#header {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 80px;
  text-align: center;
  padding-bottom: 25px;
  color: #e8e3e8;
}

#header1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 80px;
  text-align: center;
  padding-bottom: 25px;
  color: #f06288;
  }

#studentjournalist {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  padding-bottom: 0px;
  color: #e8e3e8;
}

#homeimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border-radius: 90px;
}

#resumepic {
  width: 20%;
  height: 50%;
  float: inherit;
}

#color1 {
  height: 100px;
  width:100px;
  background-color: #751d35;
  float: left;
  border-radius: 50px;
}

#color2 {
  height: 100px;
  width: 100px;
  background-color: #ed93ba;
  float: left;
  border-radius: 50px;
}

#color3 {
  height: 100px;
  width: 100px;
  background-color: #9e9d9d;
  float: left;
  border-radius: 50px;
}

#color4 {
  height: 100px;
  width: 100px;
  background-color: #e8e3e8;
  float: right;
  border-radius: 50px;
}

#color5 {
  height: 100px;
  width: 100px;
  background-color: #f06288;
  float: right;
  border-radius: 50px;
}
#tab {
  text-align: center;
  width: 500px;
  margin: auto;
  padding-bottom: 200px;
}

#bio {
  font-family: 'Raleway', sans-serif;
  color: #9e9d9d;
  font-size: 20px;
  text-align: center;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin: auto;
  color: #ed93ba;
}

h5 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin: auto;
  color: #9e9d9d;
}

h6 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 20px;
  margin: auto;
  color: #751d35;
}

p {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 50px;
  color: #9e9d9d;
}

a {
color: #ed93ba;
text-align: center;
}

ul {
  list-style: none;
}

.list {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  list-style-position: inside;
  padding-top: 40px;
}

.list2{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  list-style-position: inside;
  padding-bottom: 100px;
}

.list1 {
  display: inline;
}

#resumepic {
  width: 25%;
  height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}

.menubar {
  color: #9e9d9d;
  font-family: 'Raleway', sans-serif;
  list-style: none;
  text-align: center;
}

#menubar {
  color: #ed93ba;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  }

body {
  background-color: #e8e3e8;
}
